{% extends "blue/page.html" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/problem.css') }}">
  <title>Abacus - {{ problem.problem_name }}</title>
{% endblock head %}

{% block content %}
  {% include "countdown.html" %}
  <div class="xs-9 problem block">
    <h1>Problem {{ problem.id }}
    <br>
    {{ problem.problem_name }}</h1>
    <hr>
    <div class="markdown">{{ problem.description }}</div>
  </div>
  <div class="xs-3 block">
    <div style="display: flex; justify-content: space-evenly">
      
      <a 
      {% if not(submissions['status'] == "accepted" or submissions['status'] == "pending") %}
      href="/blue/problems/{{ problem.id }}/submit"  id="submit" class = "icon button ui"
      {% else %}
      class="icon button ui disabled"
      {% endif %} 
      data-tooltip="Submit" data-position="top center" data-inverted="">
        <i class="upload icon"></i>
        Submit
      </a>
      <a class="icon button ui" id="stats" data-tooltip="Stats" data-position="top center" data-inverted="">
        <i class="chart bar icon"></i>
        Stats
      </a>
    </div>
    <p><b>Problem ID:</b> {{ problem.id }}</p>
    <p><b>CPU Time limit:</b> {{ problem.cpu_time_limit }}</p>
    <p><b>Memory limit:</b> {{ problem.memory_limit }}</p>
    <p><b>Download:</b> <a>Sample data files</a></p>
  </div>
{% endblock %}