{% extends 'page.html' %}

{% block head %}

  <title>Abacus - Problems</title>

{% endblock %}

{% block content %}

  {% include 'countdown.html' %}

  <div class='transparent xs-12 block'>
    <table class="ui celled table">
      <thead>
        <tr>
          <th></th>
          <th>Problem Name</th>
          <th># of Tests</th>
        </tr>
      </thead>
      <tbody>
        {% for problem in problems %}
        <tr>
          <th class="collapsing">{{ problem.problem_id }}</th>
          <td><a href='/problems/{{ problem.problem_id }}'>{{ problem.problem_name }}</a></td>
          <td>{{ problem.tests|length }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}