{% extends 'page.html' %} {% block head %}

<title>Abacus - Problems</title>

{% endblock %} {% block content %} {% include 'countdown.html' %}

<div class="transparent xs-12 block">
  <table class="ui celled table" id="problems">
    <thead>
      <tr>
        <th></th>
        <th>Problem Name</th>
        <th># of Tests</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>

{% endblock %} 
{% block script %}
<script>
  function makeTable(problems) {
    const table = document.querySelector("#problems tbody");
    problems.forEach((problem) => {
      table.appendChild(
        createElement(
          "<tr>" +
            `<td class='collapsing'>${problem.problem_id}</td>` +
            `<td><a href='/problems/${problem.problem_id}'>${problem.problem_name}</a></td>` +
            `<td>${problem.tests.length}</td>` +
            "</tr"
        )
      );
    });
  }
  
  document.addEventListener("DOMContentLoaded", () => {
    fetch("/api/problems")
      .then((res) => res.json())
      .then((problems) => makeTable(Object.values(problems))); // Not Supported By I.E
  });
</script>
{% endblock %}
