{% extends "blue/page.html" %}

{% block head %}
  <title>Abacus - Standings</title>
{% endblock %}

{% block content %}
  {% include "countdown.html" %}
  <div class="transparent xs-12 block">
    <table class="ui table celled">
      <thead>
        <tr>
          <th>RK</th>
          <th>TEAM</th>
          <th>SLV.</th>
          <th>TIME</th>
          {% for problem in problems %}
          <th>{{ problem.id }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for team in teams %}
          <tr>
            <th>{{ loop.index }}</th>
            <td><a href="">{{ team.name }}</a></td>
            <td>0</td>
            <td>0</td>
            {% for problem in problems %}
            <td class="team_problem_solve"></td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}