{% extends 'page.html' %}

{% block head %}

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/submit.css') }}">

  <title>Abacus - Submit </title>

  <script src="{{ url_for('static', filename='js/submit.js') }}"></script>

{% endblock %}

{% block content %}

  {% include 'countdown.html' %}

  <div class='xs-12 block'>
    <h1>Submit a solution to - </h1>

    <form class="ui form" action="/api/submissions" method="POST" enctype="multipart/form-data" callback="submissionSuccess" async>
      <input type="hidden" name="problem-id" value="{{ pid }}">
      <div id="file_dialog">
        <div class="message">
          <b>Drag & drop</b>&nbsp; a file here to upload<br />
          <i>(Or click and choose file)</i>
        </div>
        <input id="sub_files_input" type="file" name="sub-file">
      </div>

      <div class="two fields">
        <div class="field" id="languages">
          <label>Language</label>
          <select name="language" class="ui field dropdown">
            <option value="Python 3">Python 3</option>
            <option value="Java">Java</option>
            <option value="C">C</option>
          </select>
        </div>

        <div class="field" id="mainClass">
          <label>Main class</label>
          <input name="main-class" id="mainClass" type="text" class="ui input">
        </div>
      </div>
      <div class="ui button">Cancel</div>
      <input class="ui button" type="submit" value="Submit">
    </form>
  </div>

{% endblock %}

{% block script %}
<script>
  function submissionSuccess(res) {
    window.location.href = `/submissions/${res['submission_id']}`
  }
</script>
{% endblock %}