.ui.button.stats {
    background: var(--sky-blue);
    box-shadow: inset 0px -2px 0px 0px #048d98;
    color: white;
}

.problem h1 {
    font-size: 3rem;
    font-family: 'Merriweather', serif;
    text-align: center;
}


/* markdown */

.wmde-markdown {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    pre {
        padding: 0.5em 0;
        background: white;
        border: 1px solid #d3daea;
        border-radius: 4px;
    }
    pre code {
        background: linear-gradient(to bottom, #fff 0%, #fff 50%, #f5f7fa 50%, #f5f7fa 100%);
        background-size: 100% 2.5em;
        padding: 0 0.75em;
        display: block;
        color: rgba(0, 0, 0, 0.87);
        line-height: 1.25em;
        font-size: 1em;
    }
    code {
        font-family: monospace;
        padding: 2px 4px;
        color: #c7254e;
        background-color: #f9f2f4;
    }
}