.lower,
.upper {
    display: flex;
    justify-content: space-between;

    p,
    h1 {
        margin: 0;
    }
}

.countdown {
    margin: 13px 0;
    position: relative;
    background-color: #dcdcdc;
    border: 2px solid white;
    border-radius: 15px;
    height: 10px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress_bar {
    background: var(--blue);
    border-radius: 15px;
    height: 18px;
    margin-top: -6px;
    transition: width 0.6s ease;
}
