/* Icon */
.icn {
    display: inline-block;

    &:before {
        font-family: Icons;
        font-weight: 900;
        content: '';
        margin: 0 2px;
        width: 23px;
        height: 23px;
    }

    &.result:before {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &.status:before {
        margin: 0 5px;
    }

    &.delete {
        color: var(--red);

        &:before {
            content: '\f1f8';
        }
    }

    &.pending {
        color: #555555;
        font-weight: bold;

        &:before {
            content: '\f128';
        }

        &.status:after {
            content: 'Pending';
        }
    }

    &.wrong_answer {
        color: var(--red);
        font-weight: bold;

        *:before {
            content: '\f00d';
        }

        &.status:after {
            content: 'Wrong Answer';
        }
    }

    &.rejected {
        color: var(--red);
        font-weight: bold;

        &:before {
            content: '\f00d';
        }

        &.status:after {
            content: 'Wrong Answer';
        }
    }

    &.run_time_error {
        color: var(--red);
        font-weight: bold;

        &:before {
            content: '\f00d';
        }

        &.status:after {
            content: 'Run Time Error';
        }
    }

    &.timeout_error {
        color: var(--red);
        font-weight: bold;

        &:before {
            content: '\f00d';
        }

        &.status:after {
            content: 'Time Limit Expired';
        }
    }

    &.accepted {
        color: #84cd64;
        font-weight: bold;

        &:before {
            content: '\f00c';
        }

        &.status:after {
            content: 'Accepted';
        }
    }
}

/* Icons:after */

section[tabindex] {
    display: none;
}
