@keyframes slide {
    0% {
        right: -100%;
    }
    100% {
        right: 0;
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.notifications {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 15vw;
    .ui.message {
        margin: 1em 1em;
        right: -100%;
        animation: slide 500ms;
        transition: 200ms linear;
        .close.icon {
            cursor: pointer;
        }
        &.fade {
            animation: fade 200ms;
        }
    }
}