.notifications {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 3em;
    right: 0;
    z-index: 1000;
}

.notification.ui.message {
    transition: right 500ms ease-in;
    margin: 0.5em 1em;
    .close.icon {
        cursor: pointer;
    }
    max-width: 20vw;
}

.notification.enter {
    right: -120%;
}

.notification.enter-active {
    transition: right 500ms ease-in;
    right: 0;
}

.notification.enter-done {
    right: 0;
}

.notification.exit {
    right: 0;
}

.notification.exit-active {
    right: -120%;
    transition: right 300ms ease-in;
}