.notifications {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 2em;
    z-index: 1000;
    width: 18vw;
    .ui.message {
        margin: 1em 1em;
        .close.icon {
            cursor: pointer;
        }
    }
}

.notification {
    transition: right 500ms ease-in;
}

.notification.enter {
    right: -100%;
}

.notification.enter-active {
    transition: right 500ms ease-in;
    right: 0;
}

.notification.enter-done {
    right: 0;
}

.notification.exit {
    right: 0;
}

.notification.exit-active {
    right: -100%;
    transition: right 500ms ease-in;
}