.ui.table td.team_problem_solve {
    padding: 0;
    color: #555;
    text-align: center;
    font-family: 'Open Sans';
}

.ui.table td.team_problem_solve.solved {
    background: var(--light-green) no-repeat center/32px url('/assets/standings/check.svg');
}

.ui.table td.team_problem_solve.failed {
    background: var(--light-red) no-repeat center/32px url('/assets/standings/cross.svg');
    color: #fff;
}

table {
    border: none !important;
}

td,
th {
    border: none !important;
    border-left: 1px solid #e7e7e8 !important;
    border-bottom: 1px solid #e7e7e8 !important;
    vertical-align: top !important;
    padding: 4px 16px !important;
}

td {
    vertical-align: middle !important;
}

thead tr:first-child > th {
    border-top: 1px solid #e7e7e8 !important;
}

tr > th:last-child,
tr > td:last-child {
    border-right: 1px solid #e7e7e8 !important;
}

th {
    color: #898992 !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600 !important;
    font-size: 14px !important;
    padding: 14px 16px !important;
    text-transform: uppercase;
    background: #f7f8f9 !important;
    text-align: left;
}

td a {
    color: #4e92d0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

/* Result */

.result:before {
    background: #f9f9f9;
    border: 1px solid #c9c9c9;
    border-radius: 4px;
    font-size: 14px;
    line-height: 70%;
    padding: 3px;
}
