#control-bar {
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
  box-shadow: 0 1px 1px 0 rgba(0, 28, 36, 0.3);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  cursor: pointer;
  height: 24rem;
  overflow-y: scroll;
  margin-bottom: 1em;
  &>h3 {
    margin: 1em auto;
    font-size: 2em;
    vertical-align: middle;
  }
  .grid-item {
    width: 25%;
    .grid-item-inner {
      min-height: 77px;
      margin: 1rem; // 0 0 2rem 2rem;
      padding: 1.2rem 2rem;
      border-top: 1px solid #eaeded;
      box-shadow: 0 1px 1px 0 rgba(0, 28, 36, 0.3), 1px 1px 1px 0 rgba(0, 28, 36, 0.15), -1px 1px 1px 0 rgba(0, 28, 36, 0.15);
      line-height: 2rem;
      font-size: 1.4rem;
      text-align: left;
      transition: height 5s;
      span {
        display: grid;
        grid-template-columns: 1fr 1fr;
        h3 {
          margin: 0;
        }
        i {
          font-style: normal;
          text-align: right;
          color: #888;
          font-size: 1.2rem;
        }
      }
      .status {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        &.installed {
          color: green;
        }
        &.not-installed {
          color: #aaa;
        }
      }
      button {
        line-height: 20px;
        border-radius: 2px;
        font-family: Helvetica "Courier New", Courier, monospace;
        font-weight: 700;
        font-size: 14px;
        padding: 4px 20px;
        cursor: pointer;
        &.install {
          background: rgb(236, 114, 17);
          color: white;
          border: 1px solid rgb(236, 114, 17);
          &:hover {
            border-color: rgb(221, 107, 16);
            background: rgb(235, 95, 7);
          }
        }
        &.uninstall {
          background: white;
          color: rgb(84, 91, 100);
          border: 1px solid rgb(84, 91, 100);
          &:hover {
            border-color: rgb(22, 25, 31);
            background: #fafafa;
          }
        }
      }
    }
  }
}