#teapot {
    margin: 1em;
    font-family: monospace;
    div {
        p {
            margin: 0;
            line-height: 1em;
        }
    }
    pre {
        display: flex;
        code {
            margin: 0 auto;
            font-size: 8px;
            line-height: -2px;
        }
    }
}