{% extends 'admin/page.html' %}

{% block content %}
<form class="ui form" action='/api/problems' method='POST' onsuccess="success" async>
  <input type="submit" value="Create" class="ui primary button" style="float: right">
  <h1>New Problem</h1>
  <div class="field">
    <label>Problem ID</label>
    <input name='id'>
  </div>
  <div class="field">
    <label>Problem Name</label>
    <input name='problem-name'>
  </div>

  <div class="two fields">
    <div class="field">
      <label>Memory Limit</label>
      <input name='memory-limit'>
    </div>
    <div class="field">
      <label>CPU Time Limit</label>
      <input name='cpu-time-limit'>
    </div>
  </div>

  <div class="field">
    <label>Tests</label>
    <div class="ui top attached tabular menu" id="tests">
      <div class="item" onclick=newTest(this)>+</div>
    </div>
    <div class="ui bottom attached active tab segment" id="tests_content">
      <div class="field">
        <div class="ui button negative" onclick=deleteActive(this)>Delete</div>
      </div>
    </div>
  </div>

  <div class="two fields">
    <div class="field">
      <label>Problem Description</label>
      <textarea name='description' rows id='input_desc'></textarea>
    </div>
    <div class="field">
      <label>Preview</label>
      <div id='preview' class='markdown'></div>
    </div>
  </div>
</form>
{% endblock %}

{% block head %}
<style>
  .item:hover {
    cursor: pointer;
    font-weight: bold !important;
  }
</style>
{% endblock %}

{% block script %}
<script>
let converter, textarea, preview;

  function adjustHeight() {
    textarea.style.height = '5px'
    textarea.style.height = (textarea.scrollHeight + 15) + 'px'
  }

  function newTest(elem) {
    const tests = document.querySelector('#tests')
    let n = tests.children.length
    const newItem = createElement(`<div class="item" onclick=makeActive(this)>${n}</div>`)
    tests.insertBefore(newItem, elem)

    const tests_content = document.querySelector('#tests_content')
    tests_content.insertBefore(createElement('<div class="two fields" style="display: none">' +
        '<div class="field">' +
          '<label>Input</label>' +
          `<textarea name="${n}-in">TEST_IN</textarea>` +
        '</div>' +
        '<div class="field">' +
          '<label>Answer</label>' +
          `<textarea name="${n}-out">TEST_OUT</textarea>` +
        '</div>' +
      '</div>'), document.querySelector('#tests_content .ui.button').parentNode)

    makeActive(newItem)
  }

  function deleteActive(elem) {
    let active_n = document.querySelector('.item.active').innerText
    const item = document.querySelector(`#tests .item:nth-child(${active_n})`)

    document.querySelector(`#tests_content .two.fields:nth-child(${active_n})`).remove()
    
    if (item.classList.contains('active')) {
      $('#tests .item:first-child').click()
    }

    item.remove()
  }

  function makeActive(elem) {
    // Remove all active classes
    document.querySelector('#tests .active')?.classList.remove('active')
    // Make this element active
    elem.classList.add('active')

    // Hide all test textareas
    document.querySelectorAll('#tests_content .fields').forEach(e => e.style.display = 'none')
    // Make this test's textarea visible
    $(`#tests_content .two.fields`)[parseInt(elem.innerText) - 1].style.display = 'flex'
  }

  document.addEventListener('DOMContentLoaded', () => {
    converter = new showdown.Converter()
    textarea = document.querySelector('#input_desc')
    preview = document.querySelector('#preview')
    
    textarea.addEventListener('keyup', () => {
      let md = textarea.value;
      md = md.replaceAll("&gt;", ">");
      md = md.replaceAll("&lt;", "<");
      preview.innerHTML = converter.makeHtml(md);
      adjustHeight()
    })

    $('#tests .item:first-child').click()
})

function success() {
  window.location.href = '/admin/problems'
}
</script>
{% endblock %}