{% extends 'admin/page.html' %}

{% block content %}

  <div class='block xs-6'>

    <div id="success-message" style="display:none" class="ui tiny icon message success">
      <i class="check tiny icon"></i>
      <div class="content">
        <div class="header">
          Success!
        </div>
        <p>Your changes have successfully been saved.</p>
      </div>
    </div>

    <form class='ui form' action="/api/contest" method="POST" onsuccess="success" async>
      <h1>Settings</h1>
      <hr>
    
      <h3>Competition Settings</h3>
      <div class="field">
        <label>Competition Name</label>
        <input type="text" name="competition-name">
      </div>

      <label>Start Date</label>
      <div class="date two fields" id="start_date">
        <div class="field">
          <input type="date" name="start-date">
        </div>
        <div class="field">
          <input type="time" name="start-time">
        </div>
      </div>

      <label>End Date</label>
      <div class="date two fields" id="end_date">
        <div class="field">
          <input type="date" name="end-date">
        </div>
        <div class="field">
          <input type="time" name="end-time">
        </div>
      </div>
      <br />
      
      <h3>Scoring Settings</h3>
      <div class="field">
        <label>Points per Yes</label>
        <input type="number" name="points-per-yes">
      </div>
      
      <div class="field">
        <label>Points per No</label>
        <input type="number" name="points-per-no">
      </div>
      
      <div class="field">
        <label>Points per Compilation Error</label>
        <input type="number" name="points-per-compilation-error">
      </div>
      
      <div class="field">
        <label>Points per Minute (1st Yes)</label>
        <input type="number" name="points-per-minute">
      </div>

      <input class="ui primary button" type="submit" value="Save">
    </form>
  </div>
{% endblock %}

{% block head %}
<script>
  document.addEventListener('DOMContentLoaded', () => {
    fetch('/api/contest')
      .then(res => res.json())
      .then(res => {
          document.querySelector("input[name='competition-name']").value = res.competition_name
          document.querySelector("#start_date").setAttribute('date', res.start_date)
          document.querySelector("#end_date").setAttribute('date', res.end_date)

          // Defined in js/script.js
          fillDateInputs()
      })
  })

  function success() {
    document.querySelector('#success-message').style.display = 'flex'
  }
</script>
{% endblock %}