{% extends "admin/page.html" %}

{% block head %}
  <title>Abacus - Settings</title>
{% endblock %}

{% block content %}

  <div class="block xs-6">

    <div id="success-message" style="display:none" class="ui tiny icon message success">
      <i class="check tiny icon"></i>
      <div class="content">
        <div class="header">
          Success!
        </div>
        <p>Your changes have successfully been saved.</p>
      </div>
    </div>

    <form class="ui form" action="/api/contest" method="POST" id="save-settings">
      <h1>Settings</h1>
      <hr>
    
      <h3>Competition Settings</h3>
      <div class="field">
        <label>Competition Name</label>
        <input type="text" name="competition_name" value="{{ settings.competition_name }}">
      </div>

      <label>Start Date</label>
      <div class="date two fields" id="start_date" date="{{ settings.start_date }}">
        <div class="field">
          <input type="date" name="start-date">
        </div>
        <div class="field">
          <input type="time" name="start-time">
        </div>
      </div>

      <label>End Date</label>
      <div class="date two fields" id="end_date" date="{{ settings.end_date }}">
        <div class="field">
          <input type="date" name="end-date">
        </div>
        <div class="field">
          <input type="time" name="end-time">
        </div>
      </div>
      <br />
      
      <h3>Scoring Settings</h3>
      <div class="field">
        <label>Points per Yes</label>
        <input type="number" name="points_per_yes" value="{{ settings.points_per_yes }}">
      </div>
      
      <div class="field">
        <label>Points per No</label>
        <input type="number" name="points_per_no" value="{{ settings.points_per_no }}">
      </div>
      
      <div class="field">
        <label>Points per Compilation Error</label>
        <input type="number" name="points_per_compilation_error" value="{{ settings.points_per_compilation_error }}">
      </div>
      
      <div class="field">
        <label>Points per Minute (1st Yes)</label>
        <input type="number" name="points_per_minute" value="{{ settings.points_per_minute }}">
      </div>

      <input class="ui primary button" type="submit" value="Save">
    </form>
  </div>
{% endblock %}

{% block script %}
<script>
  document.addEventListener('submit', function(e) {
    const form = e.target
    if (form.id !== "save-settings") return;
    e.preventDefault()

    const data = new FormData(form)

    let start_date = new Date(`${data.get('start-date')} ${data.get('start-time')}`)
    let end_date = new Date(`${data.get('end-date')} ${data.get('end-time')}`)

    data.delete('start-date')
    data.delete('start-time')
    data.delete('end-date')
    data.delete('end-time')

    start_date = (start_date.getTime() / 1000) + (start_date.getTimezoneOffset() * 60)
    end_date = (end_date.getTime() / 1000) + (end_date.getTimezoneOffset() * 60)

    data.set('start_date', start_date)
    data.set('end_date', end_date)

    fetch(form.action, {
      method: form.getAttribute('method'),
      body: data
    }).then(res => {
      if (res.status == "200") {
        document.querySelector("#success-message").style.display = "flex"
      }
    })
  })
</script>
{% endblock %}