{% extends "page.html" %}

{% block navbar %}
<div class="ui fixed inverted admin-div menu">
  <div class="ui container">
    <a href="/" class="header item">
      <img class="logo" src="{{ url_for('static', filename='images/fulllogoy.png') }}">
    </a>
    <a href="/admin/" class="item">Home</a>
    <a href="/admin/users" class="item">Users</a>
    <a href="/admin/problems" class="item">Problems</a>
    <a href="/admin/submissions" class="item">Submissions</a>
    <a href="/admin/clarifications" class="item">Clarifications</a>

    {% include 'usernav.html' %}
  </div>
</div>
{% endblock %}