{% extends "admin/page.html" %}

{% block head %}

  <title>Abacus - Problems</title>

{% endblock %}

{% block content %}

  {% include "countdown.html" %}

  <div class="transparent xs-12 block">
    <a href="/admin/problems/new"><button class="ui blue button">Create Problem</button></a>
    <table class="ui celled blue table">
      <thead>
        <tr>
          <th></th>
          <th>Problem Name</th>
          <th># Test Cases</th>
          <th>Time Limit</th>
          <th>Memory Limit</th>
        </tr>
      </thead>
      <tbody>
        {% for problem in problems %}
        {% if problem['division'] == "blue" %}
        <tr>
          <th class="collapsing">{{ problem.id }}</th>
          <td><a href="/admin/problems/{{ problem.problem_id }}/edit">{{ problem.problem_name }}</a></td>
          <td>{{ problem.tests|length }}</td>
          <td>{{ problem.cpu_time_limit }} ms</td>
          <td>{{ problem.memory_limit }} MB</td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>

    <a href="/admin/problems/new"><button class="ui orange button">Create Problem</button></a>
    <table class="ui celled gold table">
      <thead>
        <tr>
          <th></th>
          <th>Problem Name</th>
        </tr>
      </thead>
      <tbody>
        {% for problem in problems %}
        {% if problem['division'] == "gold" %}
        <tr>
          <th class="collapsing">{{ problem.id }}</th>
          <td><a href="/admin/problems/{{ problem.problem_id }}/edit">{{ problem.problem_name }}</a></td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}