{% extends "admin/page.html" %}

{% block head %}

  <title>Abacus - Submission {{ submission.id }}</title>

  <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.0/build/styles/default.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlight.min.js"></script>
  <script defer> hljs.initHighlightingOnLoad(); </script>

{% endblock %}

{% block content %}

  {% include "countdown.html" %}

  <div class="xs-12 block">
    <h1>Submission</h1>
    <form action="/api/submissions" method="DELETE" async onsuccess="redirect">
      <a href="/admin/submissions/{{ submission.submission_id }}/invoke" class="ui button">Rerun</a>
      <input style="display:none" name="submission_id" value="{{ submission.submission_id }}">
      <input type="submit" class="ui red button" value="Delete">
    </form>
    <table class="ui table celled">
      <thead>
        <tr>
          <th rowspan="2">ID</th>
          <th>TEAM</th>
          <th>DATE</th>
          <th>PROBLEM</th>
          <th>STATUS</th>
          <th>CPU</th>
          <th>LANGUAGE</th>
        </tr>
        <tr>
          <th colspan="3">TEST CASES</th>
          <th colspan="3">SCORE</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan="2"><a href="/admin/submissions/{{ submission.submission_id }}">{{ (submission.submission_id|string)[:7] }}</a>
          </td>
          <td>{{ submission.team_name }}</td>
          <td fromnow="{{ submission.date*1000 }}"></td>
          <td><a href="/admin/problems/{{ submission.prob_id }}/edit">{{ submission.prob_name }}</a></td>
          <td class="icn {{ submission.status }}"></td>
          <td>{{ (submission.runtime|string)[:4] }}</td>
          <td>{{ submission.language }}</td>
        </tr>
        <tr>
          <td colspan="3">
            {% for test in submission.tests %}
              {% if test["result"] == "accepted" %}
              <span class="result icn accepted"></span>
              {% elif test["result"] == "rejected" %}
              <span class="result icn rejected"></span>
              {% else %}
              <span class="result"></span>
              {% endif %}
            {% endfor %}
          </td>
          <td colspan="3">{{ submission.score }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="xs-12 block">
    Submission contains 1 file:
    <table class="ui table celled">
      <thead>
        <tr>
          <th>FILENAME</th>
          <th>FILESIZE</th>
          <th>SHA-1 SUM</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ submission.filename }}</td>
          <td>{{ submission.filesize }} bytes</td>
          <td>{{ submission.sha1sum }}</td>
        </tr>
      </tbody>
    </table>

    <h3>{{ submission.filename }}</h3>
    <pre>
      <code class="{{ submission.language }}">{{ contents }}</code>
    </pre>
  </div>

{% endblock %}

{% block script %}
<script>
  function redirect() {
    window.location = "/admin/submissions"
  }
</script>
{% endblock %}