{% extends 'admin/page.html' %}

{% block content %}

  <div class='block xs-6'>
    <form class='ui form' action="" method="POST">
      <h1>Competition Settings</h1>

      <div class="field">
        <label>Competition Name</label>
        <input type="text" name="competition-name" value="{{ settings['competition_name'] }}">
      </div>

      <label>Start Date</label>
      <div class="date two fields" date="{{ settings['start_date'] }}">
        <div class="field">
          <input type="date" name="start-date">
        </div>
        <div class="field">
          <input type="time" name="start-time">
        </div>
      </div>

      <label>End Date</label>
      <div class="date two fields" date="{{ settings['end_date'] }}">
        <div class="field">
          <input type="date" name="end-date">
        </div>
        <div class="field">
          <input type="time" name="end-time">
        </div>
      </div>

      <input class="ui primary button" type="submit" value="Save">
    </form>
  </div>
{% endblock %}