.ui.menu time {
    color: rgba(0, 0, 0, 0.87);
    font-weight: 400;
    font-size: 0.85714em;
    font-style: normal;
    float: right;
    margin: 0 0 0 0.5em;
    color: rgba(0, 0, 0, 0.4);
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    line-height: 1.4285em;
}