
<div class="xs-12 block">
  <p>You have not yet attached your Scratch® account to your profile. Please enter it below.</p>
  <form action="/gold/connect" method="POST" class="ui action input">
    <input type="text" placeholder="Scratch Username" name="scratch_username">
    <button type="submit" class="ui right button" disabled>
      Connect
    </button>
  </form>
</div>

{% block script %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    input = document.querySelector('input[name="scratch_username"]')
    button = input.parentNode.querySelector('button');

    input.addEventListener('keyup', function () {
      fetch(`https://api.scratch.mit.edu/users/${input.value}`)
        .then(res => {
          switch (res.status) {
            case 200:
              button.classList.add('teal');
              button.disabled = false;
              break;
            case 404:
              button.classList.remove('teal');
              button.disabled = true;
          }
          console.log(res)
        })
    })
  })
</script>
{% endblock %}