{% extends "gold/page.html" %}

{% block head %}
  <title>Abacus - Gold</title>
{% endblock %}

{% block content %}
{% if is_logged_in() and not getuserinfo('scratch_username') %}
{% include 'gold/connect_scratch.html' %}
{% endif %}

<div class="xs-12 block">
  <p>Save this bookmark to your toolbar to easily submit your scratch projects.</p>

  <a class="ui button" href='javascript:(function(){const regex = /https:\/\/scratch\.mit\.edu\/projects\/(\d+)/;
  const project_id = window.location.href.match(regex)[1]; window.open(`http://localhost:5000/gold/submit?project_id=${project_id}`, `_blank`)}())'>
    Submit to Abacus</a>
</div>
{% endblock %}
