{% extends 'gold/page.html' %}

{% block content %}
<div class="xs-12 block">
  <div class="ui form">
    <div class="field">
      <label>Scratch URL</label>
      <input type="text" name="scratch_url" id='scratch_url' placeholder="https://scratch.mit.edu/projects/<project_id>" value="{{ scratch_url }}">
    </div>
  </div>
</div>

<div class="xs-12 block">
  <img id='scratch_image'/>
  <h3 id='project_title'></h3>
  <i id='project_id'></i>
  <p id='project_description'></p>
  <p id='visibility'></p>
  <p id='public'></p>
  <p id='is_published'></p>  
  <p id='author'></p>
  <p id='history'></p>

</div>

  <!-- 
    author: {id: 66595561, scratchteam: false, history: {…}, profile: {…}}
    comments_allowed: true
    description: ""
    history: {created: "2020-12-22T02:56:06.000Z", modified: "2020-12-22T02:58:13.000Z", shared: "2020-12-22T02:58:13.000Z"}
    id: 466969373
    image: "https://cdn2.scratch.mit.edu/get_image/project/466969373_480x360.png"
    images: {282x218: "https://cdn2.scratch.mit.edu/get_image/project/466969373_282x218.png?v=1608605893", 216x163: "https://cdn2.scratch.mit.edu/get_image/project/466969373_216x163.png?v=1608605893", 200x200: "https://cdn2.scratch.mit.edu/get_image/project/466969373_200x200.png?v=1608605893", 144x108: "https://cdn2.scratch.mit.edu/get_image/project/466969373_144x108.png?v=1608605893", 135x102: "https://cdn2.scratch.mit.edu/get_image/project/466969373_135x102.png?v=1608605893", …}
    instructions: ""
    is_published: true
    public: true
    remix: {parent: null, root: null}
    stats: {views: 1, loves: 0, favorites: 0, comments: 0, remixes: 0}
    title: "Untitled"
    visibility: "visible"
  -->
{% endblock %}

{% block head %}
<style>
  img#scratch_image {
    box-shadow: 0px 2px 4px #ccc;
  }
</style>
{% endblock %}

{% block script %}
<script>

  function e(id) {
    return document.getElementById(id);
  }

  function fillData(res) {
    e('scratch_image').setAttribute('src', res.images['135x102'])
    console.log(res)
    e('project_title').innerText = res.title
    e('project_id').innerText = `project id: ${res.id}`
  }

  document.addEventListener('DOMContentLoaded', function() {
    const scratchInput = document.getElementById('scratch_url')
    const scratchUsername = 'jl5her'
    let cachedInput = '';

    setInterval(function() {
      const scratch_url = scratchInput.value;
      if (cachedInput == scratch_url) return
      cachedInput = scratch_url

      const regex = /https:\/\/scratch\.mit\.edu\/users\/.*\/projects\/(.*)/
      const project_id = scratchInput.value.match(regex)[1]
      fetch(`https://api.scratch.mit.edu/users/${scratchUsername}/projects/${project_id}`)
        .then(res => res.json())
        .then(res => {
          fillData(res)
        })
    })
  }, 1000)
</script>
{% endblock %}