{% extends "page.html" %}

{% block head %}
  <title>Abacus - Login</title>
{% endblock %}

{% block content %}
  <div class="center block xs-6">
    {% if is_logged_in() %}
    <h3>You are already logged in!</h3>
    {% else %}
    <form action="/login" method="POST" class="ui form">
      <img src="{{ url_for('static', filename='images/fulllogo.png') }}" width="300px">
      <div class="field">
        <label>Username</label>
        <input type="text" name="user-name" required>
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password" name="password" required>
      </div>
      <input type="submit" class="ui blue button" value="Login">
    </form>
    {% endif %}
  </div>

  <style>
    .ui.form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  </style>

{% endblock %}