<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/countdown.css') }}">
<script src="{{ url_for('static', filename='js/countdown.js') }}"></script>

<div class='xs-12 block'>
  <div class='upper'>
    <p><b>Start</b> <span id='start' value='1599411600000'></span></p>
    <h1>Example Competition</h1>
    <p><b>End</b> <span id='end' value='1599757200000'></span></p>
  </div>

  <div class='countdown'>
    <div id='progress-bar'>&nbsp;</div>
  </div>

  <div class='lower'>
    <p><b>Time elapsed</b> <span id='timeElapsed'></span></p>
    <p><b>Time remaining</b> <span id='timeRemaining'></span></p>
  </div>
</div>